body{
    background:#f4f7fc;
    font-family:'Segoe UI',sans-serif;
}

.card-custom{
    border:none;
    border-radius:20px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.top-title{
    color:#2563eb;
    font-weight:bold;
}